/*************/
// MAIN DASH //
/*************/

.dash-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // color: $main_color;
}

// Quote Text
.quote-text {
  height: 10%;
  max-width: 70%;
  line-height: 5vh;
  transform: translateY(-5vh);

  display: flex;
  align-items: center;
}

.quote-author {
  overflow: auto;
  transform: translateX(12vw) translateY(5vh)
}

// Random Quote Button
.button-container {
  height: 10vh;
  width: 100%;
  transform: translateY(25vh);

  display: flex;
  justify-content: center;
  align-items: center;
}

.random-quote-icon, .qotd-button {
  cursor: pointer;
  padding: 0 1vw 0 1vw;
  user-select: none;
}

.tenet-button {
  position: absolute;
  top: 10vh;
  right: 10vw;
  font-size: 300%;
  z-index: 1;
  cursor: pointer;
}

.opacity {
  opacity: 0;
}

@media only screen and (max-width: 450px) {
  .quote-text {
    font-size: 80%;
  }
  
  .quote-author {
    font-size: 80%;
    transform: translateX(12vw) translateY(10vh);
  }
}