/*************/
// MAIN DASH //
/*************/

.dash-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Quote Text
.quote-text {
  height: 10%;
  max-width: 70%;
  line-height: 5vh;
  transform: translateY(-5vh);

  display: flex;
  align-items: center;
}

.quote-author {
  overflow: auto;
  transform: translateX(12vw) translateY(5vh)
}

// Random Quote Button
.button-container {
  height: 10vh;
  width: 100%;
  transform: translateY(25vh);
  color: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}
.random-quote-icon, .div-button {
  cursor: pointer;
  padding: 0 1vw 0 1vw;
}

.random-quote-icon:hover, .div-button:hover {
  color: black
}

.tenet-button {
  position: absolute;
  top: 10vh;
  right: 10vw;
  font-size: 300%;
  z-index: 1;
  cursor: pointer;
  color: white;
}