// PAGE CONTAINER
.tenet-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/***********/
//  Tenet  //
/***********/
.tenet-line {
  line-height: 5vh;
}

.tenet-back {
  position: absolute;
  font-size: 150%;
  top: 4vh;
  left: 3vw;
  cursor: pointer;
  color: grey;
}

.tenet-back:hover {
  color: black;
}

@media only screen and (max-width: 450px) {
  .tenet-line {
    font-size: 68%;
    text-align: center;
  }
}