// Color Palette
$dark_mode: false;

$main_color: black;
$secondary_color: grey;
$background_color: white;

$main_color_dark: rgba(255, 255, 255, 0.904);
$secondary_color_dark: grey;
$background_color_dark: rgba(0, 0, 0, 0.842);
// @if $dark_mode == true {
//   $main_color_dark: rgba(255, 255, 255, 0.904);
//   $secondary_color_dark: grey;
//   $background_color_dark: rgba(0, 0, 0, 0.842);
// }


// Light Theme
.light-theme {
  color: $main_color;
  background: $background_color;
}
.light-theme-button {
  color: $secondary_color;
}
.light-theme-button:hover {
  color: $main_color;
}
.light-theme-pin {
  cursor: pointer;
  background: $main_color;
}
// Dark Theme
.dark-theme {
  color: $main_color_dark;
  background: $background_color_dark;
}
.dark-theme-button {
  color: $secondary_color;
}
.dark-theme-button:hover {
  color: $main_color_dark;
}
.dark-theme-pin {
  cursor: pointer;
  background: $main_color_dark;
}


// Page Styles
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import './components/front.scss';
@import './components/dash.scss';
@import './components/tenet.scss';
@import './components/pin.scss';



body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
}

#container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.color-mode-wrapper {
  position: fixed;
  pointer-events: none;

  display: flex;
  align-items: flex-end;

  height: 100%;
  width: 100%;

  i {
    position: relative;
    pointer-events: auto;
    cursor: pointer;

    bottom: 3%;
    left: 3%;
    font-size: 1.2rem;
    opacity: 0.2;
  }
  i:hover {
    opacity: 0.5;
  }
}

