// Color Palette
$dark_mode: false;

$main_color: black;
$secondary_color: grey;
$background_color: white;

@if $dark_mode == true {
  $main_color: rgba(255, 255, 255, 0.904);
  $secondary_color: grey;
  $background_color: rgba(0, 0, 0, 0.842);
}


// Page Styles
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import './components/front.scss';
@import './components/dash.scss';
@import './components/tenet.scss';
@import './components/pin.scss';



body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  background: $background_color
}

#container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.color-mode-wrapper {
  position: fixed;
  pointer-events: none;

  display: flex;
  align-items: flex-end;

  height: 100%;
  width: 100%;

  i {
    position: relative;
    pointer-events: auto;
    cursor: pointer;
    bottom: 3%;
    left: 3%;

    color: $main_color;
    font-size: 1.2rem;
    opacity: 0.2;
  }
}